<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>
  <style>
    .keywords{
      display: none;
    }    
    </style>
  <em class = "keywords" ><strong> PET, PET STORE, ONLINE PET STORE, PET GADGETS,PET GOODS, PET ACCESSORIES, PET COLLARS, 
    ONLINE STORE, FREE SHIPPING, SHOPPING, DAILY ACCESSORIES, PET SUPPLY, BEST OFFER, inbound marketing, blogging, Pet shop
    PET SUPPlIES, PET STORE NEAR ME, PETS AT HOME, petsmart,  PET STORE USA, PET STORE ONLINE.
    </strong>
  </em>
  <div class="PageContent Rte">
    {{ page.content }}
  </div>
</div>